.container-fluid {
    padding: 10;
    background-color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.container-fluid > * {
    position: relative;
    z-index: 1;
}

.landingh1 {
    font-size: 2.5rem;
    color: #c3c31a;
    margin-top: 30px;
}

.landingh3{
    font-size: 1.76rem;
    color: #00ec14;
}

.landingp {
    font-size: 1.50rem;
    color: #fff;
}