body {
    background-color: #333333; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #87ceeb; 
}

.perfil-usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.perfil-detalles {
    background-color: #161616; /* Fondo para el card */
    padding: 30px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); /* Sombra suave */
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.perfil-imagen {
    width: 300px;
    height: 300px;
    border-radius: 50%; /* Imagen redonda */
    object-fit: cover; /* Ajuste de imagen */
    margin-bottom: 20px;
    border: 5px solid #09475f; /* Borde de imagen */
}

.perfil-detalles h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #c3c31a; /*Título*/
}

.perfil-detalles p {
    font-size: 1.2rem;
    color: #127ea9; /* Texto informativo */
    margin-bottom: 15px;
}

.perfil-boton {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #c3c31a; /* Color del botón */
    color: #09475f;
    font-size: 1.1rem;
    border: 2px solid #09475f ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.perfil-boton:hover {
    background-color: #005f8d;
    color: #c3c31a /* Color al pasar el cursor */
}

.text-danger {
    color: #d9534f; /* Rojo para mensajes de error */
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .perfil-detalles {
        padding: 20px;
        width: 90%;
    }
}
